name: CI

on:
  pull_request:
  push:
      branches:
        - main


jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby-version: ['3.2', '3.3', '3.4', 'head']

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Ruby ${{ matrix.ruby-version }}
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
          bundler-cache: true

      - name: Run tests
        run: bundle exec rspec

      - name: Upload coverage to Qlty
        if: matrix.ruby-version == '3.4'
        uses: qltysh/qlty-action/coverage@v2
        with:
          token: ${{ secrets.QLTY_COVERAGE_TOKEN }}
          files: coverage/lcov/fitgem_oauth2.lcov

      - name: Check diff coverage
        if: github.event_name == 'pull_request' && matrix.ruby-version == '3.4'
        run: bundle exec undercover --compare origin/${{ github.base_ref }}

      - name: Run rubocop
        if: matrix.ruby-version == '3.4'
        run: bundle exec rubocop
